@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: medium;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0.7rem;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
	background: #0197db;
}

::-webkit-scrollbar-thumb:hover {
	background: #1c3c81c5;
}

.sticky__navbar {
  position: sticky;
  top: 0;
}

.navbar__muni {
  background-color: #232D4F;
}

h4 {
  font-size: 1.875rem;
  font-weight: 500;
  color: #374151;
}

@media (prefers-color-scheme: dark) {
  h4 {
    color: #d1d5db;
  }
}

textarea {
  field-sizing: content;
}

.obligatorio {
  color: #f53333;
  user-select: none;
  margin-left: 0.1em;
}
