on:
    push:
      branches:
        - main
    workflow_dispatch:
jobs:
    run_pull:
      name: run pull
      runs-on: ubuntu-latest
    
      steps:
         - name: executing remote ssh commands using ssh key
           uses: appleboy/ssh-action@v1.0.0
           with:
             host: ${{ secrets.SSH_HOST }}
             username: ${{ secrets.SSH_USER }}
             password: ${{ secrets.SSH_PASSWORD }}
             port: ${{ secrets.SSH_PORT }}
             timeout: 1200s
             script: |           
                cd ${{ secrets.WORK_DIR }} 
                git fetch 
                git checkout ${{ secrets.MAIN_BRANCH }} 
                git pull               
                docker stop libre_deuda_front -f
                docker rm libre_deuda_front -f
                docker rmi municipalidad/libre_deuda_front:latest -f
                docker build --no-cache --pull --build-arg VITE_API_URL="${{ secrets.VITE_API_URL}}" -t  municipalidad/libre_deuda_front:latest .                     
                docker run -d -p 0.0.0.0:7025:80 --name libre_deuda_front municipalidad/libre_deuda_front:latest
                docker image prune -f
                exit